<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <h1>Your profile</h1>
        <hr>
        <h2>My orders</h2>
        {{# each orders }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        {{# each this.items}}
                        <li class="list-group-item">
                            <span class="badge badge-primary pull-right">
                                ${{ this.price }}
                            </span>
                            {{ this.item.title }} | {{ this.qty }} Units
                        </li>
                        {{/ each}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: ${{ this.cart.totalPrice }}</strong>
                </div>
            </div>
        {{/ each}}
    </div>
</div>